{%- import 'attribute_table.j2' as at -%}
{%- import 'metric_table.j2' as mt -%}
# Produced Metrics - {{ ctx.namespace }}
{% for metric in ctx.metrics %}

## Metric `{{metric.metric_name}}`

{{ mt.generate(metric, {}) }}
{% if metric.attributes is defined and metric.attributes | length > 0 %}
### `{{metric.metric_name}}` Attributes

{{ at.generate(metric.attributes, "", "", metric.lineage.attributes, "") }}
{% endif %}
{% endfor %}
