{%- import 'attribute_table.j2' as at -%}
{%- import 'span_macros.j2' as sm -%}
# Spans - {{ ctx.namespace }}

{% for span in ctx.spans %}
## Span `{{span.id}}`

{{ sm.header(span) }}

{% if span.attributes is defined and span.attributes | length > 0 %}
### `{{span.id}}` Attributes

{{ at.generate(span.attributes, "", "", span.lineage.attributes, "") }}
{% endif %}

{% endfor %}
