{%- import 'attribute_table.j2' as at -%}
{%- import 'event_macros.j2' as em -%}
# Events - {{ ctx.namespace }}

{% for event in ctx.events %}
## Event `{{event.name}}`

{{ em.header(event) }}

{% if event.attributes is defined and event.attributes | length > 0 %}
### `{{event.name}}` Attributes

{{ at.generate(event.attributes, "", "", event.lineage.attributes, "") }}
{% endif %}

{{ em.body(event.body) }}

{% endfor %}
